*{
	margin: 0;
	padding: 0;
}

body{
	background: white;
}

a{
	background: #b9c941;
	font-size: 30px;
	margin-left: 30%;
	text-decoration: none;
	margin-bottom: 50px;
	padding-right: 200px;
	padding-left: 200px;
}
/*Link*/
a:link{
	color: black;
	background: radial-gradient(#3399ff, #ccff99);
}

/*Visitados*/

a:visited{
	color: black;
	background: radial-gradient(#3399ff, #ccff99);
}

/*Hover*/
a:hover{
	color: white;
	background: radial-gradient(yellow, red);
}
/*Active*/
a:active{
	color: white;
	background: radial-gradient(yellow, blue);
}

.verde{
	color: green;
}

.vermelho{
	color: red;
}

.laranja{
	color: orange;
}
.azul{
	color: blue;
}
